<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h2>Change your password</h2>
  <br />
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>
    <br />
    <div class="form-inputs">
      <%= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <br />
      <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
    </div>
    <br />
    <div class="form-actions">
      <%= f.button :submit, "Change my password", :class => 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>